DOCKER_REGISTRY=docker.m.daocloud.io/library
COMPOSE_PROJECT_NAME=qd-125-fixed

FRONTEND_PORT=3125
BACKEND_PORT=8125
MYSQL_PORT=3425
REDIS_PORT=6425

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=buffer_block_db
MYSQL_USER=buffer
MYSQL_PASSWORD=buffer123

JAVA_OPTS=-Xms256m -Xmx512m
